:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --twitter-color: #1d9bf0;
  --instagram-background-color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --github-color: #24292f;
  --linkedin-color: #0a66c2;
  --codepen-color: #1e1f26;
  --whatsapp-color: #25d366;
  --custom-gradient: linear-gradient(
    109.6deg,
    rgb(38, 38, 207) 11.2%,
    rgb(144, 6, 161) 53.7%,
    rgb(0, 212, 255) 100.2%
  );
}
.Footer {
  font-family: "SF Mono", sans-serif;
  color: aliceblue;
}
.footer-github-link a {
  color: transparent;
  background: var(--custom-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}
