body {
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1 h2,
h3 {
  color: #231d3c;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.shadow-xl {
  box-shadow: 53px 54px 36px 31px rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
  text-transform: uppercase;
  color: rgb(255, 230, 0);
  text-decoration: none;
  font-weight: 700;
  margin: 100px;
  text-align: center;
  font-size: xx-large;
}
