.text-properties {
  background-image: linear-gradient(60deg, #f13863, #f9a826);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sono", sans-serif;
}
h1.text-properties {
  font-family: "Dancing Script";
  font-size: 80px;
  font-weight: 700;
}
.text-properties p i {
  background-image: linear-gradient(75deg, hsl(203, 85%, 63%), #153ce8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.btn-group button{
  border: 5px solid transparent;
  
}
.btn-group button:hover {
  border: 5px solid #f9a826;
  border-radius: 15px !important;
}

